# Data Transfer to SQL
____________________________________________________________________________________________________

## Loading all CSVs

In [2]:
import pandas as pd
from sqlalchemy import create_engine 
import pymysql.cursors
import os
# import getpass
import urllib.parse

In [3]:
pw_raw = os.getenv('sql_password')
pw = urllib.parse.quote_plus(pw_raw)

In [3]:
citibike_stations = pd.read_csv("C:\\Users\\darce\\Ironhack\\female_cyclists_france_data_analytics\\big_query_ny_citibike\\citibike_stations.csv")

In [4]:
citibike_trips = pd.read_csv("C:\\Users\\darce\\Ironhack\\female_cyclists_france_data_analytics\\big_query_ny_citibike\\citibike_trips.csv")

In [5]:
comptage_velo_compteurs = pd.read_csv("C:\\Users\\darce\\Ironhack\\female_cyclists_france_data_analytics\\bike_counters\\comptage-velo-compteurs.csv", encoding="ISO-8859-1", sep=";")

In [6]:
comptage_velo_donnees_compteurs = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\bike_counters\comptage-velo-donnees-compteurs.csv", encoding="ISO-8859-1")

In [7]:
news_data_en_cleaned = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\news_article_images\news_data_en_cleaned.csv")

In [8]:
news_data_fr_cleaned = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\news_article_images\news_data_fr_cleaned.csv")

In [9]:
bike_info_men = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\scraper\bike_information_men.csv")

In [10]:
bike_info_women = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\scraper\bike_information_women.csv")

In [11]:
caracteristiques_2019 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\caracteristiques-2019.csv", delimiter=';', quotechar='"')

In [12]:
display(caracteristiques_2019)

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,201900000001,30,11,2019,01:30,4,93,93053,1,1,1,2,AUTOROUTE A3,"48,8962100","2,4701200"
1,201900000002,30,11,2019,02:50,3,93,93066,1,1,1,6,AUTOROUTE A1,"48,9307000","2,3688000"
2,201900000003,28,11,2019,15:15,1,92,92036,1,1,1,4,AUTOROUTE A86,"48,9358718","2,3191744"
3,201900000004,30,11,2019,20:20,5,94,94069,1,1,1,4,A4,"48,8173295","2,4281502"
4,201900000005,30,11,2019,04:00,3,94,94028,1,1,1,2,A86 INT,"48,7763620","2,4332540"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58835,201900058836,30,11,2019,09:00,1,69,69288,1,1,5,2,A43 13.029 A 15.971,"45,6666600","5,0561200"
58836,201900058837,27,11,2019,07:50,1,67,67482,1,1,8,4,Autoroute A.35,"48,5769000","7,7269000"
58837,201900058838,30,11,2019,02:41,4,94,94021,1,1,1,6,AUTOROUTE A6A,"48,7717000","2,3457600"
58838,201900058839,30,11,2019,15:20,1,78,78640,1,1,1,7,A86 EXT,"48,7772890","2,2237590"
58839,201900058840,29,11,2019,20:50,3,92,92047,1,1,1,2,A13,"48,8351236","2,1751101"

In [13]:
caracteristiques_2020 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\caracteristiques-2020.csv", delimiter=';', quotechar='"')

In [14]:
caracteristiques_2021 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\carcteristiques-2021.csv", delimiter=';', quotechar='"')

In [15]:
caracteristiques_2022 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\carcteristiques-2022.csv", delimiter=';', quotechar='"')

In [16]:
lieux_2019 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\lieux-2019.csv", delimiter=';', quotechar='"')

In [17]:
lieux_2020 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\lieux-2020.csv", delimiter=';', quotechar='"')

In [18]:
lieux_2021 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\lieux-2021.csv", delimiter=';', quotechar='"')

In [19]:
lieux_2022 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\lieux-2022.csv", delimiter=';', quotechar='"')

C:\Users\darce\AppData\Local\Temp\ipykernel_14704\2901121888.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux_2022 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\lieux-2022.csv", delimiter=';', quotechar='"')

In [20]:
registered_vehicles_2019 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\registerd_vehicles_2019.csv", delimiter=';', quotechar='"')

In [21]:
registered_vehicles_2020 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\registered_vehicles_2020.csv", delimiter=';', quotechar='"')

In [22]:
registered_vehicles_2021 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\registered_vehicles_2021.csv", delimiter=';', quotechar='"')

In [23]:
usagers_2019 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\usagers-2019.csv", delimiter=';', quotechar='"')

In [24]:
usagers_2020 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\usagers-2020.csv", delimiter=';', quotechar='"')

In [4]:
usagers_2021 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\usagers-2021.csv", delimiter=';', quotechar='"')

In [6]:
usagers_2021.drop(columns=['id_usager'], inplace=True)

In [7]:
usagers_2022 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\usagers-2022.csv", delimiter=';', quotechar='"')
usagers_2022.drop(columns=['id_usager'], inplace=True)

In [27]:
vehicles_2019 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\vehicules-2019.csv", delimiter=';', quotechar='"')

In [28]:
vehicles_2020 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\vehicules-2020.csv", delimiter=';', quotechar='"')

In [29]:
vehicles_2021 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\vehicules-2021.csv", delimiter=';', quotechar='"')

In [30]:
vehicles_2022 = pd.read_csv(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\vehicules-2022.csv", delimiter=';', quotechar='"')

________________________________________________________________

## Importing to SQL server schema

In [9]:
bd = "final_project_ironhack"
connection_string = 'mysql+pymysql://root:' + pw + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/final_project_ironhack)

In [32]:

df_list = [citibike_stations, citibike_trips, comptage_velo_compteurs, comptage_velo_donnees_compteurs, news_data_en_cleaned, news_data_fr_cleaned, bike_info_men, bike_info_women, caracteristiques_2019, caracteristiques_2020, caracteristiques_2021, caracteristiques_2022, lieux_2019, lieux_2020, lieux_2021, lieux_2022, registered_vehicles_2019, registered_vehicles_2020, registered_vehicles_2021, usagers_2019, usagers_2020, usagers_2021, usagers_2022]


df_names = ["citibike_stations", "citibike_trips", "comptage_velo_compteurs", "comptage_velo_donnees_compteurs", "news_data_en_cleaned", "news_data_fr_cleaned", "bike_info_men", "bike_info_women", "caracteristiques_2019", "caracteristiques_2020", "caracteristiques_2021", "caracteristiques_2022", "lieux_2019", "lieux_2020", "lieux_2021", "lieux_2022", "registered_vehicles_2019", "registered_vehicles_2020", "registered_vehicles_2021", "usagers_2019", "usagers_2020", "usagers_2021", "usagers_2022"]


for df, name in zip(df_list, df_names):
    df.name = name  # Assign name to DataFrame
    table_name = name  # Use the name of the DataFrame as the table name
    df.to_sql(table_name, con=engine, schema='final_project_ironhack', if_exists='replace', index=False)

In [10]:
df_list = [usagers_2021,usagers_2022]


df_names = ["usagers_2021", "usagers_2022"]


for df, name in zip(df_list, df_names):
    df.name = name  # Assign name to DataFrame
    table_name = name  # Use the name of the DataFrame as the table name
    df.to_sql(table_name, con=engine, schema='final_project_ironhack', if_exists='replace', index=False)

In [33]:
df_list = [vehicles_2019,vehicles_2020,vehicles_2021,vehicles_2022]


df_names = ["vehicles_2019", "vehicles_2020", "vehicles_2021", "vehicles_2022"]


for df, name in zip(df_list, df_names):
    df.name = name  # Assign name to DataFrame
    table_name = name  # Use the name of the DataFrame as the table name
    df.to_sql(table_name, con=engine, schema='final_project_ironhack', if_exists='replace', index=False)

In [34]:
#Importing all traffic accident dimension tables to SQL 

excel_file = pd.ExcelFile(r"C:\Users\darce\Ironhack\female_cyclists_france_data_analytics\road_accidents\accidents_velo_dim_tables.xlsx")

for sheet_name in excel_file.sheet_names:
    # Read the sheet into a DataFrame
    df4 = excel_file.parse(sheet_name)

    # Export the DataFrame to SQL
    df4.to_sql(sheet_name, con=engine, if_exists='replace', index=False)

    print(f"Exported {sheet_name} to SQL successfully.")

Exported dim_sex to SQL successfully.
Exported dim_traject to SQL successfully.
Exported dim_grav to SQL successfully.
Exported dim_catu to SQL successfully.
Exported dim_motor to SQL successfully.
Exported dim_manv to SQL successfully.
Exported dim_choc to SQL successfully.
Exported dim_obsm to SQL successfully.
Exported dim_obs to SQL successfully.
Exported dim_catv to SQL successfully.
Exported dim_senc to SQL successfully.
Exported dim_situ to SQL successfully.
Exported dim_infra to SQL successfully.
Exported dim_surf to SQL successfully.
Exported dim_prof to SQL successfully.
Exported dim_plan to SQL successfully.
Exported dim_circ to SQL successfully.
Exported dim_catr to SQL successfully.
Exported dim_col to SQL successfully.
Exported dim_atm to SQL successfully.
Exported dim_int to SQL successfully.
Exported dim_agg to SQL successfully.
Exported dim_lum to SQL successfully.
Exported dim_vosp to SQL successfully.
Exported dim_secu1 to SQL successfully.
Exported dim_secu2 to SQL successfully.
Exported dim_locp to SQL successfully.